{{ 'video-background.css' | asset_url | stylesheet_tag }}


<div class="video-container cover-background" style="margin: 0px 0px 80px; display: block; background-image: url({{ section.settings.cover_image | img_url: '' }});">
  <div class="video-info">
    <h2>{{ section.settings.heading }}</h2>
    <figure class="video-popups">
      <a href="{{ section.settings.video_url }}" class="video_popup_bg" id="open-video-popup">
        <img src="//mantis-section.myshopify.com/cdn/shop/t/22/assets/play-btn-white.png?v=4337524557435089191532686444" alt="">
      </a>
    </figure>
    <div id="video-overlay" class="video-overlay"></div> <!-- Lớp overlay -->
    <div id="video-popup" class="video-popup">
        <div class="video-popup-content">
            <iframe src="" frameborder="0" allowfullscreen></iframe>
            
        </div>
       
    </div>
  </div>
  
</div>
<script>
  const videoOverlay = document.getElementById("video-overlay");
  const openVideoPopup = document.getElementById("open-video-popup");
  const videoPopup = document.getElementById("video-popup");
  
  // Function to open the popup
  function openPopup() {
      const videoUrl = openVideoPopup.getAttribute("href");
      const iframe = document.createElement("iframe");
      iframe.setAttribute("src", videoUrl);
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("allowfullscreen", "true");
  
      const videoPopupContent = videoPopup.querySelector(".video-popup-content");
      videoPopupContent.innerHTML = "";
      videoPopupContent.appendChild(iframe);
  
      videoOverlay.style.display = "block";
      videoPopup.style.display = "block";
  }
  
  // Function to close the popup
  function closePopup() {
      videoOverlay.style.display = "none";
      videoPopup.style.display = "none";
  }
  
  // Add an event listener to open the popup when the link is clicked
  openVideoPopup.addEventListener("click", function (e) {
      e.preventDefault();
      openPopup();
  });
  
  // Add an event listener to close the popup when the overlay is clicked
  videoOverlay.addEventListener("click", function () {
      closePopup();
  });

</script>

{% schema %}
  {
    "name": "Background Video",
    "tag": "section",
    "class": "section",

    "settings": [

      {
        "type": "text",
        "id": "heading",
        "default": "COLOUR CANYON",
        "label": "Heading"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube", "vimeo"
        ],
        "default": "https://player.vimeo.com/video/172601404?autoplay=1",
        "label": "Video link",
        "info": "t:sections.video.settings.video_url.info"
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": "Cover Image"
      }
    ],
    "presets": [
      {
        "name": "Background video"
      }
    ]
  }
{% endschema %}