.testimonial-container {
  padding: 60px 0;
}

.testimonial-content {
  text-align: center;
}

.testimonial-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img img {
  display: inline-block;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 100%;
}

.placeholder {
  width: 100px;
  height: auto;
}

.testimonial-item__mess {
  font-size: 18px;
  line-height: 1.56;
  margin: 20px auto 25px;
  color: #262626;
  max-width: 600px;
}

.testimonial-item__bottom {
  color: #262626;
}

.testimonial-item__bottom:before {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #828282;
  display: block;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .testimonial-item__mess {
    font-size: 16px;
  }
}
